<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myhexaville.login">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="DGFAB"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="ics.dynamic.dgfab.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="ics.dynamic.dgfab.Buyer_Main_Navigation" />
        <activity android:name="ics.dynamic.dgfab.MainActivity" />
        <activity android:name="ics.dynamic.dgfab.Activities_Dashboards.ProfileActivty" />
        <activity
            android:name="ics.dynamic.dgfab.Activities_Dashboards.DashBoard"
            android:label="@string/title_activity_dash_board"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="ics.dynamic.dgfab.LogandReg.Registration_Step_3" />
        <activity android:name="ics.dynamic.dgfab.LogandReg.Registration_Step_2" />
        <activity android:name="ics.dynamic.dgfab.LogandReg.Registration_Step_1" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="ics.dynamic.dgfab.Splash_DGFAB"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>